* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header,
main,
.left,
.right,
footer {
    border: 1px solid black;
    text-align: center;
}

main,
.left,
.right {
    display: inline-block;
    height: calc(100vh - 200px);
}

.left {
    width: 300px;
    float: left;
}

.right {
    width: 200px;
    float: right;
}

main {
    width: calc(100vw - 515px);
}

footer,
header {
    height: 100px;
}
